
#post,
.comments {
  border: 0.2rem solid var(--red);
  margin-top: 2rem;
}

#comments-likes {
  text-align: end;
  padding-right: 1rem;
}

#view-post {
  text-decoration: underline;
  color: var(--red);
}

#user {
  display: flex;
  gap: 2%;
  background-color: beige;
}

/* user.css */
.bold-link {
  font-weight: bold;
}
